<html>
<head>
    <title>project2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body data-feedly-mini="yes">
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Column heading</th>
            <th>Column heading</th>
            <th>Column heading</th>
        </tr>
    </thead>
    <tbody>
        <tr class="active">
            <th scope="row">1</th>
            <td>Column content</td>
            <td>Column content</td>
            <td>Column content</td>
        </tr>
    </tbody>
</table>
</body>
</html>