<h2 id="forms-help-text">{{template.name}} #{{document.id}}</h2>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" ><a href="javascript:;">1</a></li>
    <li role="presentation" ><a href="javascript:;">2</a></li>
    <li role="presentation" ><a href="javascript:;">3</a></li>
    <li role="presentation" ><a href="javascript:;">4</a></li>
    <li role="presentation" ><a href="javascript:;">5</a></li>
    <li role="presentation" ><a href="javascript:;">6</a></li>
    <li role="presentation" class="active"><a href="javascript:;">7</a></li>
    <li role="presentation" ><a href="javascript:;">8</a></li>
</ul>

<br/>

<form class="form" name="form">
    <div class="form-group">
        <label for="document.reception.clinic.name">Больной осмотрен непосредственно при поступлении в</label>
        <div class="input-group">
            <input type="text" class="form-control" id="document.reception.clinic.name"
                   ng-model="document.reception.clinic.name" readonly="true">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Выбрать"
                        dictionary="clinics" target="document" field="reception.clinic">
                    Выбрать
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="document.reception.time">Дата</label>
        <input type="date" id="document.reception.date" ng-model="document.reception.date">
        время
        <input type="time" id="document.reception.time" ng-model="document.reception.time">
    </div>
    <div class="form-group">
        <label for="document.patient.name">Больной (ФИО)</label>
        <div class="input-group">
            <input type="text" class="form-control" id="document.patient.name" ng-model="document.patient.name" readonly="true">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Выбрать"
                        dictionary="patients" target="document" field="patient">
                    Выбрать
                </button>
            </span>
        </div>
    </div>

    <div class="form-group">
        <label for="document.doctor.name">Больного принял врач-невролог (ФИО)</label>
        <div class="input-group">
            <input type="text" class="form-control" id="document.doctor.name" ng-model="document.doctor.name" readonly="true">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" aria-label="Выбрать"
                        dictionary="doctors" target="document" field="doctor" msize="lg">
                    Выбрать
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="document.reception.time">Больной госпитализирован в</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.type" value="urgently">экстренном порядке<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.type" value="routinely">плановом порядке<br/>
        </label>
    </div>
    <h3>Обстоятельства доставки</h3>
    <div class="form-group">
        <label for="document.hospitalization.chanel">1. Канал</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.chanel" value="СМП">СМП<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.chanel" value="Самообращение">Самообращение<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.chanel" value="Внутрибольничный инстульт">Внутрибольничный инстульт<br/>
        </label>, другое:
        <input type="text" class="form-control" id="document.hospitalization.chanel"
               ng-model="document.hospitalization.chanel">
    </div>
    <div class="form-group">
        <label for="document.hospitalization.delivered_from">2. Откуда доставлен</label>
        <input type="text" class="form-control" id="document.hospitalization.delivered_from"
               ng-model="document.hospitalization.delivered_from">
    </div>
    <div class="form-group">
        <label for="document.hospitalization.escort">3. Сопровождение</label>
        <input type="text" class="form-control" id="document.hospitalization.escort"
               ng-model="document.hospitalization.escort">
    </div>
    <div class="form-group">
        <label for="document.hospitalization.ambulance_call_time">4. Время вызова "скорой помощи"</label>
        <input type="time" id="document.hospitalization.ambulance_call_time"
               ng-model="document.hospitalization.ambulance_call_time">
        Прибытия:
        <input type="time" id="document.hospitalization.ambulance_arrival_time"
               ng-model="document.hospitalization.ambulance_arrival_time">
        Доставки:
        <input type="time" id="document.hospitalization.ambulance_delivery_time"
               ng-model="document.hospitalization.ambulance_delivery_time">
    </div>
    <div class="form-group">
        <h3>Жалобы</h3>
        <textarea id="document.hospitalization.complaints" class="form-control"
                  ng-model="document.hospitalization.complaints"/>
    </div>
    <div class="form-group">
        <h3>Анамнез болезни</h3>
        <textarea id="document.hospitalization.illness_history" class="form-control"
                  ng-model="document.hospitalization.history"/>
    </div>
    <div class="form-group">
        <label for="document.hospitalization.escort">АДД</label>&nbsp;в дебюте заболевания
        <input type="number" id="document.hospitalization.blood_pressure"
               ng-model="document.hospitalization.blood_pressure"> мм рт.ст.
    </div>
    <div class="form-group">
        <label for="document.hospitalization.escort">Давность</label>&nbsp;заболевания
        <input type="number" id="document.hospitalization.illness_term_days"
               ng-model="document.hospitalization.illness_term_days"> сут.
        <input type="number" id="document.hospitalization.illness_term_hours"
               ng-model="document.hospitalization.illness_term_hours"> часов
    </div>
    <div class="form-group">
        <label for="document.hospitalization.illness_start_fix_person">Времея начала</label>&nbsp;заболевания фиксировано:
        <label class="radio-inline">
            <input type="radio" id="document.hospitalization.illness_start_fix_person"
                   ng-model="document.hospitalization.illness_start_fix_person" value="patient">пациентом<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.hospitalization.illness_start_fix_person" value="witness">свидетелем<br/>
        </label>
        <input type="text" ng-show="document.hospitalization.illness_start_fix_person == 'witness'"
               ng-model="document.hospitalization.illness_start_fix_witness" value=""><br/>
    </div>
    <div class="form-group">
        <label for="document.hospitalization.delay_reason">Причина задержки госпитализации</label>
        <input type="text" class="form-control" id="document.hospitalization.delay_reason"
               ng-model="document.hospitalization.delay_reason">
    </div>
    <div class="form-group">
        <label for="document.hospitalization.onmk_reason">Предшеств. ОНМК</label>
        <input type="text" class="form-control" id="document.hospitalization.onmk_reason"
               ng-model="document.hospitalization.onmk_reason">
    </div>
    <div class="form-group">
        <h3>Анамнез жизни</h3>
        <textarea id="document.life_history.common" class="form-control"
                  ng-model="document.life_history.common"/>
    </div>
    <div class="form-group">
        <label for="document.life_history.education_level">Уровень образования</label>
        <input type="text" class="form-control" id="document.life_history.education_level"
               ng-model="document.life_history.education_level">
    </div>
    <div class="form-group">
        <label for="document.life_history.family_onmk">Семейный анамнез</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.life_history.family_onmk" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.life_history.family_onmk" value="0">нет<br/>
        </label>
        <input type="text" id="document.life_history.family_onmk"
               ng-model="document.life_history.family_onmk_details">
    </div>
    <div class="form-group">
        <label for="document.diseases.hypertonic_disease">Гипертоническая болезнь</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.hypertonic_disease.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.hypertonic_disease.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.hypertonic_disease"
               ng-model="document.diseases.hypertonic_disease.details">
        (<label class="radio-inline">
            <input type="radio" ng-model="document.diseases.hypertonic_disease.is_controlled" value="1">контролируемая<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.hypertonic_disease.is_controlled" value="0">неконтролируемая<br/>
        </label>)
        максимальное АД
        <input type="number" ng-model="document.diseases.hypertonic_disease.max_blood_pressure">
        "привычное" АД
        <input type="number" ng-model="document.diseases.hypertonic_disease.regular_blood_pressure">
    </div>
    <div class="form-group">
        <label for="document.diseases.piks">ПИКС</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.piks.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.piks.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.piks"
               ng-model="document.diseases.piks.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.arrhythmia">Мерцательная аритмия</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.arrhythmia.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.arrhythmia.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.arrhythmia"
               ng-model="document.diseases.arrhythmia.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.diabetes">Сахарный диабет</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.diabetes.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.diabetes.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.diabetes"
               ng-model="document.diseases.diabetes.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.ulcer_disease">Язвенная болезнь</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.ulcer_disease.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.ulcer_disease.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.ulcer_disease"
               ng-model="document.diseases.ulcer_disease.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.asthma">Бронхиальная астма, ХОБЛ</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.asthma.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.asthma.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.asthma"
               ng-model="document.diseases.asthma.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.atherosclerosis">Атеросклероз сосудов н/конечностей</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.atherosclerosis.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.atherosclerosis.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.atherosclerosis"
               ng-model="document.diseases.atherosclerosis.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.varicose">Варикозная болезнь н.к.</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.varicose.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.diseases.varicose.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.diseases.varicose"
               ng-model="document.diseases.varicose.details">
    </div>
    <div class="form-group">
        <label for="document.diseases.other">Другое</label>
        <textarea id="document.diseases.other" class="form-control" ng-model="document.diseases.other"/>
    </div>
    <div class="form-group">
        <h3>Постоянная терапия</h3>
    </div>
    <div class="form-group">
        <label for="document.therapy.antihypertensive">Антигипертензивные</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.antihypertensive.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.antihypertensive.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.therapy.antihypertensive"
               ng-model="document.therapy.antihypertensive.details">
    </div>
    <div class="form-group">
        <label for="document.therapy.antianginal">Антиангинальные</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.antianginal.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.antianginal.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.therapy.antianginal"
               ng-model="document.therapy.antianginal.details">
    </div>
    <div class="form-group">
        <label for="document.therapy.disaggregants">Дезагреганты</label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.disaggregants.is_has" value="1">да<br/>
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="document.therapy.disaggregants.is_has" value="0">нет<br/>
        </label>
        <input type="text" id="document.therapy.disaggregants"
               ng-model="document.therapy.disaggregants.details">
    </div>
    <a class="btn btn-primary" role="button" ng-click="update(document)">Сохранить</a>
</form>