<h2 id="forms-help-text">{{template.name}} #{{document.id}}</h2>
<div class="form-group">
    <label for="document.reception.place">Больной осмотрен непосредственно при поступлении в</label>
    <input type="text" class="form-control" id="document.reception.place" ng-model="document.reception.place">
</div>
<div class="form-group">
    <label for="document.reception.place">Дата и время</label>
    <input type="datetime" ng-model="document.reception.time">
</div>
<div class="form-group">
    <label for="document.patient.name">Больной (ФИО)</label>
    <input type="text" class="form-control" id="document.patient.name" ng-model="document.patient.name">
</div>
<div class="form-group">
    <label for="document.doctor.name">Больного принял врач-невролог (ФИО)</label>
    <input type="text" class="form-control" id="document.doctor.name" ng-model="document.doctor.name">
</div>